Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule conquista$ ./public_html/conquista.html
RewriteRule duaco$ ./public_html/duaco.html
RewriteRule jaguari$ ./public_html/jaguari.html


